body
  margin: 0
  padding: 0
  font-family: sans-serif

.section 
  text-align: center
  font-size: 40px

.toggle
	position: absolute
	top: 80px
	right: 60px
	transform: translate(-50%,-50%)
	width: 50px		
	height: 50px
	border-radius: 3px
	cursor: pointer
	span
		position: absolute
		width: 44px
		height: 6px
		display: block
		background-color: white
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		border-radius: 3px
		transition: 0.2s
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			background-color: white
			display: block
			top: -11px
			left: 0
			border-radius: 3px
			transition-property: top
			transition: 0.2s
		&:after
			content: ''
			position: absolute
			width: 100%
			height: 100%
			background-color: white
			display: block
			top: 11px
			left: 0
			border-radius: 3px
			transition-property: top
			transition: 0.2s
.active
	span
		background-color: #55565A
		background-color: transparent
		box-shadow: 0 3px 3px rgba(0,0,0,0)
		&:before
			top: 0
			background-color: #55565A
			transform: rotate(45deg)
			transition: 0.2s
		&:after
			top: 0
			background-color: #55565A
			transform: rotate(-45deg)
			transition: 0.2s


.menu 
	display: grid
	grid-template-columns: 1fr 1fr
	z-index: 100
	height: 100vh
	background-color: #fff

nav
	margin-top: 70px
	float: left
	margin-left: 100px

.sup
    position: relative

.small_logo2
    position: absolute
    left: 0
    top: 40px

.small_logo
	display: block
	margin: 70px
	float: left

.link_of_nav
  text-decoration: none
  color: #55565A
  font-weight: 100
  display: inline-block
  margin: 20px 100px
  &:hover
    color: black

.menu_imgs
  overflow: hidden
  & img
    display: block
    &:hover
      cursor: pointer

.social
	float: left
	margin-top: 35%
	margin-left: 60px
	a
		text-decoration: none
		padding-right: 40px
		color: #55565A
		&:hover
    		color: black

.main
    background: url(../img/bg_sessions.png)  no-repeat
    background-size: cover

h1
    color: white
    text-transform: uppercase
    font-size: 180px
    text-shadow: 0px 4px 2px rgba(85, 86, 90, 0.25);
.part
    height: 680px
    width: 18%
    border: 1.5px solid #55565A
    border-top: 3px solid #55565A
    border-bottom: 3px solid #55565A

.part1
    border-left: 3px solid #55565A
    background-color: #55565A
.part5
    border-right: 3px solid #55565A
.sup
    display: flex
    justify-content: center
h5
    color: white
p
    font-size: 22px

.btn
    width: 120px
    height: 40px
    margin-top: 400px 
    background-color: white
    border: 1px solid #55565A
    border-radius: 8px
    transition: 0.3s
    &:hover
        color: white
        background-color: #55565A
